/* 
    This style sheet stylizes the controls inside our
    Web Page Maker JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	?
    Version:	1.0
*/

// CSS CLASS FOR PAGE EDITING BUTTONS
.tag_button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

// CSS CLASS FOR PANES TO FILL THEIR FULL REGION
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#ccccff;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TEXT FIELDS AT UI PROMPTS
.prompt_text_field {
    -fx-font-size: 13pt;
}
.tagToolbar{
    -fx-background-color:#ccccff;
}
.fileToolbarPane{
    -fx-background-color:#ccccff;
}
